@charset "UTF-8";
h1 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-family: "Raleway", sans-serif;
}

h4 {
  font-family: "Raleway", sans-serif;
}

h5 {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2D2D2D;
}

footer {
  margin-top: 10rem;
}

#us_map {
  overflow: hidden;
  position: relative;
  left: -0.222237px;
  top: -0.590332px;
}

.state {
  fill: #AAAAAA;
  stroke: white;
  stroke-width: 1;
  opacity: 100;
}

.state:hover {
  cursor: pointer;
  fill: #747474;
}

.state-active {
  fill: #747474;
}

.state-active:hover {
  fill: #747474 !important;
}

a {
  font-family: "Raleway", sans-serif;
  color: #01A6F0;
  font-weight: bold;
}

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

a:hover {
  color: #014665;
  text-decoration: underline;
}

#pdf {
  color: #01A6F0;
}

#explore_data {
  color: #01A6F0;
}

#welcome {
  margin-top: 25%;
}

.inner cover {
  margin-top: 3rem;
}

.cover-container {
  width: 90%;
  max-width: none;
}

.cover-heading {
  text-align: center;
}

.modal {
  color: black;
}

.note {
  text-align: left !important;
  color: black;
}

.card-body {
  text-align: left !important;
  color: black;
}

.card-header {
  padding: 0.25rem 0.25rem;
}

.btn-link {
  text-align: left;
  color: #333;
}

.btn-link:hover {
  color: black;
}

.note-icon {
  height: 1rem;
}

.no_padding {
  padding: 0;
  flex-grow: 0 !important;
}

.info_p {
  margin-left: 1.5rem;
}

.button-box {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: white;
  background-color: #AAAAAA;
  border-style: none;
  width: max-content;
}

.print-out {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: white;
  border-style: solid;
  border-width: 0.15rem;
  border-color: #AAAAAA;
  width: inherit;
}

.category-text {
  padding: 0.25rem;
  width: 8rem;
}

.strong-yes {
  color: #7FBC00;
}

.strong-no {
  color: #F34F1C;
}

#card_col_1 {
  margin-top: 1.5rem;
}

#card_col_2 {
  margin-top: 1.5rem;
}

#data_tabs {
  border-bottom-style: solid;
  border-bottom-width: 0.15rem;
  border-bottom-color: #AAAAAA;
}

.data_tab {
  color: #AAAAAA;
}

.data_tab:hover {
  text-decoration: none;
  cursor: pointer;
}

.number {
  font-family: "Montserrat", sans-serif;
  color: #2D2D2D;
}

.number-type {
  color: #AAAAAA;
}

.number-definition {
  visibility: hidden;
  width: 320px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -160px;
  /* Use half of the width (120/2 = 60), to center the tooltip */
}

.number:hover .number-definition {
  visibility: visible;
}

.inner.cover {
  min-height: 100%;
}

#content-col {
  min-width: 140px;
}

#notes_div {
  width: 650px;
}

#data_content {
  max-height: 20rem;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0.5rem;
  padding-right: 0.5rem;
}

#explore_data_section {
  height: 100vh;
  padding: 3rem;
  padding-bottom: 10rem;
  margin-top: 3rem;
  margin-bottom: 30rem;
}

#explore_data_container {
  vertical-align: middle;
}

#country_name {
  margin-bottom: 3.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AAAAAA;
  border-radius: 7px;
}

/* Handle on hover */

/*# sourceMappingURL=custom.css.map */
