svg path:hover {
    fill: #D8D9DE !important;
    cursor: pointer; 
}
footer {
    margin-top: 10rem; 
}
#us_map {
    height: 426;
    width: 700;
    overflow: hidden;
    position: relative;
    left: -0.222237px;
    top: -0.590332px;
}
.state {
    fill: #6E7889;
    stroke: "#ffffff" ;
    stroke-width: 1;
    opacity: 100;
    color: white;
}
text {
    fill: white !important; 
}
a {
    color: #cc9c58;
    font-weight: bold;
}
blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
a:hover {
    color: #cc9c58;
    text-decoration: underline;
}
.state-active{
    fill: #cc9c58;
}
.state-active:hover{
    fill: #cc9c58 !important;
}
#pdf {
    color: #cc9c58;
}
.inner cover {
    margin-top: 3rem;
}
.cover-container {
    width: percentage(9/10);
    max-width: none;
}
.map {
    width: percentage(7/8);
}
.modal {
    color: black; 
}
.note {
    text-align: left!important;
    color: black; 
}
.card-body{
    text-align: left!important;
    color: black; 
}
.card-header{
    padding: 0.25rem 0.25rem;
}
.btn-link{
    text-align: left;
    color: #333;
    // font-weight: bold;
}
.btn-link:hover{
    color: black; 
}
.note-icon{
    height: 1rem; 
}
// div.info_section * {
//     margin-left: 1.5rem;
// }
.info_p{
    margin-left: 1.5rem;
}
#card_col_1{
    margin-top: 1.5rem;
}
#card_col_2{
    margin-top: 1.5rem;
}
// #three-data-points{
//     border-style: solid;
//     border-width: .75rem;
//     border-color: white;
// }
svg path:visited {
    fill: #D8D9DE !important;
    cursor: pointer;
}
svg rect:visited {
    fill: #D8D9DE !important;
    cursor: pointer;
}
.list-group-item{
    background-color: #333;
    color: white;
}
#notes_div{
    width: 650px;
}