$base-gray : #333;
$slate-gray : #6E7889;
$inactive-gray: #8F8F8F;
$rubine-red : #CF1259;
$mountain-meadow : #17B890;
$corn : #EFEA5A;
$sandy-brown : #F29E4C;
$sandy-brown-hover : #F5B87A;

$red3 : #F34F1C;
$micro-green : #7FBC00;
$micro-blue-dark : #014665;
$micro-blue : #01A6F0;
$micro-orange : #FFBA01 ;
$micro-gray-medium : #747474;
$micro-gray-dark : #2D2D2D; 
$micro-gray-light : #AAAAAA;

$red1 : #96031A;
$red2 : #E53D00;
$red3: #EF233C; 
$red4: #F72C25; 

// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;

h1{
    font-family: 'Raleway', sans-serif;
}
h2{
    font-family: 'Raleway', sans-serif;
}
h3{
    font-family: 'Raleway', sans-serif;
}
h4{
    font-family: 'Raleway', sans-serif;
}
h5{
    font-family: 'Raleway', sans-serif;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: $micro-gray-dark;
}

// svg path:hover {
//     fill: #D8D9DE !important;
//     cursor: pointer; 
// }
footer {
    margin-top: 10rem; 
}
#us_map {
    // height: 426;
    // width: 700;
    overflow: hidden;
    position: relative;
    left: -0.222237px;
    top: -0.590332px;
}
.state {
    // fill: $micro-blue-dark;
    // stroke: "#ffffff" ;
    fill: $micro-gray-light; 
    stroke: white; 
    stroke-width: 1;
    opacity: 100;
    // color: white;
}
.state-yes {
    // fill: $micro-blue-dark;
    // stroke: "#ffffff" ;
    fill: $micro-green; 
    stroke: white; 
    stroke-width: 1;
    opacity: 100;
    // color: white;
}
.state-no {
    // fill: $micro-blue-dark;
    // stroke: "#ffffff" ;
    fill: $micro-gray-light; 
    stroke: white; 
    stroke-width: 1;
    opacity: 100;
    // color: white;
}
#check{
    stroke: $micro-green; 
    fill: $micro-green;
    stroke-width: 1;
}
#cross{
    stroke: $red3; 
    fill: $red3;
    stroke-width: 1;
}
.state:hover{
    cursor: pointer;
    fill: $micro-gray-medium;
}
.state-active{
    fill: $micro-gray-medium;
}
.state-active:hover{
    fill: $micro-gray-medium !important;
}
// text {
//     fill: white !important; 
// }
.nav-link.inactive:hover{
    border-bottom-color: transparent!important;
}
a {
    font-family: 'Raleway', sans-serif;
    color: $micro-blue;
    font-weight: bold;
}
blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
a:hover {
    color: $micro-blue-dark;
    text-decoration: underline;
}

#pdf {
    color: $micro-blue;
    // float: right;
}
#explore_data{
    color: $micro-blue;
}
#welcome{
    margin-top: percentage(1/4);
}
.inner cover {
    margin-top: 3rem;
}
.cover-container {
    width: percentage(9/10);
    max-width: none;
}
.cover-heading{
    text-align: center;
}
// .map {
//     width: percentage(7/8);
// }
.modal {
    color: black; 
}
.note {
    text-align: left!important;
    color: black; 
}
.card-body{
    text-align: left!important;
    color: black; 
}
.card-header{
    padding: 0.25rem 0.25rem;
}
.btn-link{
    text-align: left;
    color: $base-gray;
    // font-weight: bold;
}
.btn-link:hover{
    color: black; 
}
.note-icon{
    height: 1rem; 
}
// div.info_section * {
//     margin-left: 1.5rem;
// }
.no_padding{
    padding: 0;
    flex-grow: 0!important;
}
.info_p{
    margin-left: 1.5rem;
}
.button-box{
    // border-style: solid;
    // border-width: .15rem;
    // border-color:white; 
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: white;
    background-color: $micro-gray-light;
    border-style: none;
    // width: 100%;
    width: max-content
}
.print-out{
    margin-top: .5rem;
    margin-bottom: .5rem;
    // color: white;
    background-color: white;
    border-style: solid;
    border-width: .15rem;
    border-color: $micro-gray-light;
    // width: 100%;
    // width: max-content
    width: inherit;
}


.category-text{
    padding: .25rem;
    width: 8rem; 
    // word-wrap: break-word;
}
.strong-yes{
    font-weight: bold;
    color: $micro-green;
}
.strong-no{
    font-weight: bold;
    color: $red3;
}
#card_col_1{
    margin-top: 1.5rem;
}
#card_col_2{
    margin-top: 1.5rem;
}
// #data_tabs{
//     border-bottom-style: solid;
//     border-bottom-width: .15rem;
//     border-bottom-color: $micro-gray-light;
// }
.data_tab{
    color: $micro-gray-light;
}
// .data_tab.active{
    // color: white; 
// }
.data_tab:hover{
    // color: white;
    text-decoration: none;
    cursor: pointer;
}
.number{
    font-family: 'Montserrat', sans-serif;
    color: $micro-gray-dark;
}
.indicator-heading{
    color: $micro-gray-dark;
}
.inline-number{
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: $micro-gray-dark;
}
.number-type{
    font-size: .95rem;
    color: $micro-gray-light;
}
.indicator-text{
    font-size: .95rem;
    color: $micro-gray-medium;
}
.indicator-link{
    font-family: 'Raleway', sans-serif;
    color: $micro-gray-medium;
    font-size: .95rem;
}
.number-link{
    font-family: 'Raleway', sans-serif;
    color: $micro-gray-medium;
}
.number-definition{
    font-size: x-small;
    color: $micro-gray-light
}
// .number-definition{
//     visibility: hidden;
//     width: 320px;
//     background-color: black;
//     color: #fff;
//     text-align: center;
//     padding: 5px 0;
//     border-radius: 6px;
 
//     z-index: 1;
//     bottom: 100%;
//     left: 50%;
//     margin-left: -160px; /* Use half of the width (120/2 = 60), to center the tooltip */
// }
.number:hover .number-definition {
  visibility: visible;
}
.inner.cover{
    min-height: 100%;
}
#content-col{
    min-width: 140px;
}
// #three-data-points{
//     border-style: solid;
//     border-width: .75rem;
//     border-color: white;
// }
// svg path:visited {
//     fill: #D8D9DE !important;
//     cursor: pointer;
// }
// svg rect:visited {
//     fill: #D8D9DE !important;
//     cursor: pointer;
// }
// .list-group-item{
//     background-color: #333;
//     color: white;
// }
#notes_div{
    width: 650px;
}
#data_content{
    max-height: 20rem;
    overflow: scroll; 
    overflow-x: hidden;
    margin: .5rem;
    padding-right: .5rem;
}
#explore_data_section{
    height: 100vh; 
    padding: 3rem;
    padding-bottom: 10rem;
    margin-top: 3rem;
    margin-bottom: 30rem;
}
#explore_data_container{
  vertical-align: middle;
}
#country_name{
    margin-bottom: 3.5rem;
}

.definition {
    display: none;
    width: 15rem;
    background-color: $micro-gray-medium;
    color: #fff;
    font-size: x-small;
    text-align: center;
    border-radius: 6px;
    padding: .5rem;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}
.definition::after {
  content: "";
  position: absolute;
  top: 5%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent $micro-gray-medium transparent transparent;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
  border-radius: 7px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
//   background: $micro-gray-light; 
  border-radius: 7px;

}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// }