$base-gray : #333;
$slate-gray : #6E7889;
$inactive-gray: #8F8F8F;
$rubine-red : #CF1259;
$mountain-meadow : #17B890;
$corn : #EFEA5A;
$sandy-brown : #F29E4C;
$sandy-brown-hover : #F5B87A;

$micro-red : #F34F1C;
$micro-green : #7FBC00;
$micro-blue-dark : #014665;
$micro-blue : #01A6F0;
$micro-orange : #FFBA01 ;
$micro-gray-medium : #747474;
$micro-gray-dark : #2D2D2D; 
$micro-gray-light : #AAAAAA;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;

h1{
    font-family: 'Raleway', sans-serif;
}
h2{
    font-family: 'Raleway', sans-serif;
}
h3{
    font-family: 'Raleway', sans-serif;
}
h4{
    font-family: 'Raleway', sans-serif;
}
h5{
    font-family: 'Raleway', sans-serif;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: $micro-gray-dark;
}

svg path:hover {
    fill: #D8D9DE !important;
    cursor: pointer; 
}
footer {
    margin-top: 10rem; 
}
#us_map {
    // height: 426;
    // width: 700;
    overflow: hidden;
    position: relative;
    left: -0.222237px;
    top: -0.590332px;
}
.state {
    // fill: $micro-blue-dark;
    // stroke: "#ffffff" ;
    fill: $micro-gray-light; 
    stroke: white; 
    stroke-width: 1;
    opacity: 100;
    // color: white;
}
text {
    fill: white !important; 
}
a {
    font-family: 'Raleway', sans-serif;
    color: $micro-blue;
    font-weight: bold;
}
blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
a:hover {
    color: $micro-blue-dark;
    text-decoration: underline;
}
.state-active{
    fill: $micro-orange;
}
.state-active:hover{
    fill: $micro-orange !important;
}
#pdf {
    color: $micro-blue;
    // float: right;
}
#explore_data{
    color: $micro-blue;
}
#welcome{
    margin-top: percentage(1/4);
}
.inner cover {
    margin-top: 3rem;
}
.cover-container {
    width: percentage(9/10);
    max-width: none;
}
.cover-heading{
    text-align: center;
}
.map {
    width: percentage(7/8);
}
.modal {
    color: black; 
}
.note {
    text-align: left!important;
    color: black; 
}
.card-body{
    text-align: left!important;
    color: black; 
}
.card-header{
    padding: 0.25rem 0.25rem;
}
.btn-link{
    text-align: left;
    color: $base-gray;
    // font-weight: bold;
}
.btn-link:hover{
    color: black; 
}
.note-icon{
    height: 1rem; 
}
// div.info_section * {
//     margin-left: 1.5rem;
// }
.no_padding{
    padding: 0;
    flex-grow: 0!important;
}
.info_p{
    margin-left: 1.5rem;
}
.button-box{
    // border-style: solid;
    // border-width: .15rem;
    // border-color:white; 
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: white;
    background-color: $micro-gray-light;
    border-style: none;
    // width: 100%;
    width: max-content
}
.print-out{
    margin-top: .5rem;
    margin-bottom: .5rem;
    // color: white;
    background-color: white;
    border-style: solid;
    border-width: .15rem;
    border-color: $micro-gray-light;
    // width: 100%;
    // width: max-content
    width: inherit;
}

.category-text{
    padding: .25rem;
    width: 8rem; 
    word-wrap: break-word;
}
.strong-yes{
    color: $micro-green;
}
.strong-no{
    color: $micro-red;
}
#card_col_1{
    margin-top: 1.5rem;
}
#card_col_2{
    margin-top: 1.5rem;
}
#data_tabs{
    border-bottom-style: solid;
    border-bottom-width: .15rem;
    border-bottom-color: $micro-gray-light;
}
.data_tab{
    color: $micro-gray-light;
}
// .data_tab.active{
    // color: white; 
// }
.data_tab:hover{
    // color: white;
    text-decoration: none;
    cursor: pointer;
}
.number{
    font-family: 'Montserrat', sans-serif;
    color: $micro-orange;
}
.number-type{
    color: $micro-gray-light;
}
.inner.cover{
    min-height: 100%;
}
#content-col{
    min-width: 140px;
}
// #three-data-points{
//     border-style: solid;
//     border-width: .75rem;
//     border-color: white;
// }
svg path:visited {
    fill: #D8D9DE !important;
    cursor: pointer;
}
svg rect:visited {
    fill: #D8D9DE !important;
    cursor: pointer;
}
// .list-group-item{
//     background-color: #333;
//     color: white;
// }
#notes_div{
    width: 650px;
}
#data_content{
    max-height: 20rem;
    overflow: scroll; 
    overflow-x: hidden;
    margin: .5rem;
    padding-right: .5rem;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
  border-radius: 7px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $micro-gray-light; 
  border-radius: 7px;

}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// }